li {
    list-style-type: none;
}

/*Usar CSS para mostrar las cartas de un modo más elegante.*/

img {
    width: 284px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}

/*Usar :hover sobre la imagen para que cambie la rotación de la carta al pasar el ratón encima*/
img {
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

img:hover {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}